In [4]:
import pandas as pd
import numpy as np
import os
from env import host, user, password

In [5]:
def get_connection(db, user=user, host=host, password=password):
    '''
    This function uses my info from my env file to
    create a connection url to access the Codeup db.
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [6]:
def wrangle_telco_data():
    sql_query = """SELECT customer_id, monthly_charges, tenure, total_charges FROM customers WHERE contract_type_id = 3"""
    df = pd.read_sql(sql_query, get_connection('telco_churn'))
    df.to_csv('telco_churn.csv')
    return df

In [10]:
df = wrangle_telco_data()

In [11]:
df

     customer_id  monthly_charges  tenure total_charges
0     0013-SMEOE           109.70      71       7904.25
1     0014-BMAQU            84.65      63        5377.8
2     0016-QLJIS            90.45      65        5957.9
3     0017-DINOC            45.20      54       2460.55
4     0017-IUDMW           116.80      72       8456.75
...          ...              ...     ...           ...
1690  9964-WBQDJ            24.40      71        1725.4
1691  9972-EWRJS            19.25      67        1372.9
1692  9975-GPKZU            19.75      46         856.5
1693  9993-LHIEB            67.85      67       4627.65
1694  9995-HOTOH            59.00      63        3707.6

[1695 rows x 4 columns]